<h2><%= icon_text('Workshop', 'fa-keyboard-o') %></h2>
<ol>
  <h3><li>Developer tools</li></h3>
  <ul>
    <li><%= link_to 'Browser inspector', workshop_path(page: '1/1'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'Manipulate elements', workshop_path(page: '1/2'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'Browser console', workshop_path(page: '1/3'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'Network activity', workshop_path(page: '1/4'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'Text editor', workshop_path(page: '1/5'), class: 'btn btn-lg index_link' %></li>
  </ul>
  <h3><li>HTML/CSS</li></h3>
  <ul>
    <li><%= link_to 'HTML documents and tags', workshop_path(page: '2/1'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'Applying styling', workshop_path(page: '2/2'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'Selectors', workshop_path(page: '2/3'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'Organising styles', workshop_path(page: '2/4'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'CSS libraries', workshop_path(page: '2/5'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'Fonts and icons', workshop_path(page: '2/6'), class: 'btn btn-lg index_link' %></li>
  </ul>
  <h3><li>Javascript</li></h3>
  <ul>
    <li><%= link_to 'Programming', workshop_path(page: '3/1'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'Data types', workshop_path(page: '3/2'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'JS libraries', workshop_path(page: '3/3'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'jQuery', workshop_path(page: '3/4'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'AJAX', workshop_path(page: '3/5'), class: 'btn btn-lg index_link' %></li>
  </ul>
  <h3><li>Web</li></h3>
  <ul>
    <li><%= link_to 'Clients and servers', workshop_path(page: '4/1'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'HTTP and its methods', workshop_path(page: '4/2'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'URLs and requests', workshop_path(page: '4/3'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'Query parameters', workshop_path(page: '4/4'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'APIs and AJAX', workshop_path(page: '4/5'), class: 'btn btn-lg index_link' %></li>
  </ul>
  <h3><li>Application</li></h3>
  <ul>
    <li><%= link_to 'Build a js application', workshop_path(page: '5/1'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'Integrate an API', workshop_path(page: '5/2'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'Post and get data', workshop_path(page: '5/3'), class: 'btn btn-lg index_link' %></li>
    <li><%= link_to 'Executing page updates', workshop_path(page: '5/4'), class: 'btn btn-lg index_link' %></li>
  </ul>
</ol>
<p>
  <%= link_to icon_text('Start: Browser inspector', 'fa-arrow-right'), workshop_path(page: '1/1'), class: 'btn btn-info pull-right' %>
</p>
