<%= back_link('2/10') %>
<small>3-1</small>
<%= forward_link('3/2', 'Grammar') %>

<h1>Variables</h1>

<h3><%= step %></h3>
<p>Declare variables with <code>var</code>.</p>

<h3><%= step %></h3>
<p>Try these commands in your console.</p>
<pre>
var x = 1;
x + x;
</pre>

<h3><%= step %></h3>
<p>Undeclared variables are global.</p>
<pre>
x = 1;
x + x;
</pre>
