<%= back_link('3/2') %>
<small>3-3</small>
<%= forward_link('3/4', 'Data types') %>

<h1>Logic</h1>

<h3><%= step %></h3>
<p>Logical operators</p>
<ul>
  <li><code>x == y</code> x is equal to y?</li>
  <li><code>x > y</code> x is greater than y?</li>
  <li><code>x >= y</code> x is greater than or equal to y?</li>
</ul>
<pre>
1 == 1;
1 == 2;
1 > 2;
1 < 2;
2 <= 2;
</pre>

<h3><%= step %></h3>
<p>Comparison operators</p>
<pre>
true && false;
true || false;
1 == 2 || 2==2;
</pre>

<h3><%= step %></h3>
<p>If statement</p>
<pre>
if ( true ) { "green" };
if ( false ) { "green" };
if ( false ) { "green" } else { "red" };
if ( 100 > 99 ) { "green" } else { "red" };
if ( 100 < 99 ) { "green" } else { "red" };
</pre>
