<%= back_link('3/3') %>
<small>3-4</small>
<%= forward_link('3/5', 'Strings') %>

<h1>Data types</h1>

<h3><%= step %></h3>
<p><table>
  <tr><th>Data type</th><th></th><th>typeof</th></tr>
  <tr><td>Number</td><td>42</td><td>number</td></tr>
  <tr><td>String</td><td>"Hi"</td><td>string</td></tr>
  <tr><td>Boolean</td><td>true</td><td>boolean</td></tr>
  <tr><td>Function</td><td>Date</td><td>function</td></tr>
  <tr><td>Object</td><td>document</td><td>object</td></tr>
  <tr><td>Null</td><td>null</td><td>object</td></tr>
  <tr><td>Undefined</td><td>n/a</td><td>undefined</td></tr>
</table></p>

<h3><%= step %></h3>
<pre>
typeof(42);
typeof("Hi");
typeof(true);
typeof(Date);
typeof(document);
typeof(fairy);
</pre>

<h3><%= step %></h3>
<p>Nothingness</p>
<ul>
  <li><code>Undefined</code> I don't know what you're talking about.</li>
  <li><code>Null</code> I know what you're asking, but I don't have an answer for you.</li>
  <li><code>0</code> Number 0.</li>
  <li><code>""</code> Empty string.</li>
  <li><code>false</code> No/off/negative.</li>
</ul>
