<%= back_link('3-3') %>
<small>3-4</small>
<%= forward_link('3/5', 'Ajax') %>

<h1>JQuery</h1>

<h3><%= step %></h3>
<p><a href="https://jquery.com/"
      target="flatchat_workshop">JQuery</a></p>

<h3><%= step %></h3>
<p>From earlier:</p><pre>$("#screen").css({"font-size": "2em", "color": "#fff", "background-color": "#48d", "padding": "50px"});</pre>

<p>In plain javascript.</p>
<pre>
var elementStyle = document.getElementById("screen").style;
elementStyle.fontSize = "2em";
elementStyle.color = "#fff";
elementStyle.backgroundColor = "#48d";
elementStyle.padding = "50px";
</pre>

<h3><%= step %></h3>
<p>Add to <code>&lt;head&gt;</code></p>
<pre>
&lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"&gt;&lt;/script&gt;
</pre>
