<%= back_link('3/4') %>
<small>3-5</small>
<%= forward_link('3/6', 'Arrays') %>

<h1>Strings</h1>

<h3><%= step %></h3>
<p>String: a sequence of characters.</p>

<h3><%= step %></h3>
<p>Quotes: <code>"</code> and <code>'</code></p>
<pre>
"Callie A's message";
'Callie A wrote "Oh."';
"Callie A wrote \"Oh.\"";
</pre>

<h3><%= step %></h3>
<p><code>\n</code> new line</p>
<pre>
"Callie A wrote\n\"Oh.\"";
</pre>

<h3><%= step %></h3>
<p>Add</p>
<pre>
"concat" + "enation";
</pre>
