<%= back_link('8/3') %>
<small>8-4</small>
<%= forward_link('8/5', 'Render messages') %>

<h1>Room links</h1>

<h3><%= step %></h3>
<p>The room links do not have <code>href</code> tags, so at the moment they don't go anywhere.</p>
<p>We will handle the links with javascript. When a link is clicked, the room messages will be loaded.</p>

<h3><%= step %></h3>
<p>Create 'scripts/get_room_messages.js'</p>

<pre>
var bindLoadRoomOnListClick = function() {
  $("#rooms").on("click", ".room", function(event){
    var roomId = $(this).data("room-id");
    $.get((serverUrl + "/rooms/" + roomId + ".json"), function(room) {
      alert("The server sent " + JSON.stringify(room));
    });
  });
};

$( document ).ready(function() {
  bindLoadRoomOnListClick();
});
</pre>

<h3><%= step %></h3>
<p>Add to <code>&lt;head&gt;</code>, above the 'application.css' link:</p>
<pre>
&lt;script type="text/javascript" src="scripts/get_room_messages.js"&gt;&lt;/script&gt;
</pre>
