<%= back_link('3/3') %>
<small>4-1</small>
<%= forward_link('4/2', 'Web resources') %>

<h1>Web requests</h1>

<h3><%= step %></h3>
<p><%= image_tag 'request_response.png', width: 400 %></p>

<h3><%= step %></h3>
<p>Requests have methods. Most common HTTP methods:</p>
<ul>
  <li>GET - read data</li>
  <li>POST - send data</li>
</ul>

<h3><%= step %></h3>
<p>Requests and responses have headers. Responses headers contain a response status code:</p>
<ul>
  <li>200 OK</li>
  <li>201 Created</li>
  <li>400 Bad request</li>
  <li>401 Unauthorized</li>
  <li>404 Not found</li>
  <li>500 Intenal server error</li>
</ul>

<h3><%= step %></h3>
<p>Connection technologies:</p>
<ul>
  <li>Ajax - request-response without rendering</li>
  <li>Sever sent events - continuous data streams</li>
  <li>Web sockets - full-duplex communication</li>
</ul>

<h3><%= step %></h3>
<p>Create a file 'assets/javascripts/server_config.js':</p>
<pre>
serverUrl = 'http://flatchat.workshops.engines.org';
serverWebSocketUrl = 'ws://flatchat.workshops.engines.org/cable';
apiKey = 'YOUR_API_KEY';
</pre>
<p>Link the file in your <code>&lt;head&gt;</code></p>
<pre>
  &lt;script type="text/javascript" src="assets/javascripts/server_config.js"&gt;&lt;/script&gt;
</pre>
