<%= back_link('3/12') %>
<small>4-1</small>
<%= forward_link('4/2', 'Our CSS') %>

<h1>Get Bootstrap</h1>

<h3><%= step %></h3>
<p>We'll be using <a href="http://getbootstrap.com/"
      target="flatchat_workshop">Bootstrap</a>.</p>

<h3><%= step %></h3>
<p>Add to <code>&lt;head&gt;</code></p>
<pre>
&lt;link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous"&gt;
</pre>

<h3><%= step %></h3>
<p>Reload the page. It's a bit different...</p>
