<%= back_link('4/1') %>
<small>4-2</small>
<%= forward_link('4/3', 'Grid') %>

<h1>Our CSS</h1>

<h3><%= step %></h3>
<p>Create a new file 'assets/stylesheets/application.css'</p>

<h3><%= step %></h3>
<p>Add these new styles.</p>
<pre>
body { color: #48d; padding: 5px; word-wrap: break-word; }
#logo { font-size: 1.5em; color: #48d; }
#logo img { vertical-align: middle; margin-top: -3px; }
#rooms { margin-top: 10px; }
.room { padding: 5px; }
#messages { margin-top: 10px; }
.message { padding: 5px; }
.message_body { font-family: 'Chewy', cursive; font-size: 1.5em; }
.username, .time_ago { display: inline-block; color: #999; }
.username { font-weight: 700; }
.time_ago { font-size: 0.8em; }
</pre>

<h3><%= step %></h3>
<p>Add the <code>class="form-control"</code> to each <code>input</code>.</p>


<h3><%= step %></h3>
<p>Remove <code>&lt;style&gt;&lt;/style&gt;</code>.</p>
<p>Include the css in 'index.html' by adding a link to the bottom of the <code>&lt;head&gt;</code> tag.</p>
<pre>
  &lt;link rel="stylesheet" href="assets/stylesheets/application.css"&gt;
</pre>
