<%= back_link('4/3') %>
<small>4-4</small>
<%= forward_link('5/1', 'Get jQuery') %>

<h1>Bootstrap JS</h1>

<h3><%= step %></h3>
<p>We are not going to use any of Bootstrap's JS components.</p>
<p>You do not need to include the Bootstrap JS library.</p>

<h3><%= step %></h3>
<p><%= icon 'fa-warning' %> If you do want to access Bootstrap JS features, add this to <code>&lt;head&gt;</code></p>
<pre>
&lt;script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
  crossorigin="anonymous"&gt;&lt;/script&gt;
</pre>
