<%= back_link('1/5') %>
<small>2-1</small>
<%= forward_link('2/2', 'Styling') %>

<h1>HTML documents</h1>

<h3><%= step %></h3>
<p><code>&lt;!DOCTYPE html&gt;</code></p>

<h3><%= step %></h3>
<p>Minimum HTML5 document</p>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;

&lt;head&gt;
  &lt;meta charset="utf-8"/&gt;
  &lt;title&gt;Empty document&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
  This is where page content goes.
&lt;/body&gt;

&lt;/html&gt;
</pre>

<h3><%= step %></h3>
<p>HTML element:</p>
<pre>
&lt;tag attribute="value"&gt;
  some content...
&lt;/tag&gt;
</pre>

<h3><%= step %></h3>
<p>Document<br>
<code>html</code>, <code>head</code>, <code>title</code>, <code>link</code>, <code>style</code>, <code>script</code>
</p>
<p>Sections<br>
<code>body</code>, <code>h1 - h6</code>
</p>
<p>Groups<br>
<code>p</code>, <code>br</code>, <code>div</code>
</p>
<p>Text<br>
<code>a</code>, <code>strong</code>, <code>small</code>, <code>i</code>, <code>span</code>
</p>
<p>Embeded<br>
<code>img</code>
</p>
<p>Forms<br>
<code>form, input, button</code>
</p>
<p><a href="https://www.w3.org/TR/html-markup/elements-by-function.html#elements-by-function"
      target="https://www.w3.org/TR/html-markup/elements-by-function.html#elements-by-function">W3 HTML language reference</a></p>

<h3><%= step %></h3>
<p>Attributes<br>
<code>id</code>, <code>class</code>, <code>style</code>, <code>title</code>
</p>
<pre>
&lt;div id="message_1" class="message"&gt;
  ...
&lt;/div&gt;
</pre>

<h3><%= step %></h3>
<p>Comments</p>
<pre>
&lt;!--  This is a comment. --&gt;
</pre>

<h3><%= step %></h3>
<p>Change 'index.html' to:</p>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;

&lt;head&gt;
  &lt;meta charset="utf-8"/&gt;
  &lt;title&gt;Flatchat&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
  &lt;h1&gt;Flatchat&lt;/h1&gt;
  &lt;div&gt;Rooms&lt;/div&gt;
  &lt;div&gt;Messages&lt;/div&gt;
&lt;/body&gt;

&lt;/html&gt;
</pre>
<p>Reload the file in your browser. Inspect the HTML.</p>
