<%= back_link('2/9') %>
<small>2-10</small>
<%= forward_link('3/1', 'Variables') %>

<h1>Forms</h1>

<h3><%= step %></h3>
<% form_url = Rails.application.config.app_http_protocol + '://' +
              Rails.application.config.app_host + '/fake_post.json' %>
<p>Add this form at the top of your <code>&lt;body&gt;</code> element.</p>
<pre>
&lt;form action="<%= form_url %>" method="post"&gt;
  &lt;input name="name" type="text" placeholder="What is your name?"&gt;
  &lt;input name="spelling" type="text" placeholder="How do you spell dog?"&gt;
  &lt;input name="maths" type="number" placeholder="What is 1+2?"&gt;
  &lt;input type="submit" value="Submit"&gt;
&lt;/form&gt;
</pre>
<p>Test the form. You should see parameters. Press your back button.</p>
<p>Delete the form HTML.</p>

<h3><%= step %></h3>
<p>Add this form code to the top of <code>&lt;div id="rooms_panel"&gt;</code></p>
<pre>
&lt;form id="new_room_form" name="new_room_form" method="post"&gt;
  &lt;input name="room[name]" id="input_room_name" placeholder="New room" type="text" autocomplete="off"&gt;
&lt;/form&gt;
</pre>
<p>Add this form code to the top of <code>&lt;div id="messages_panel"&gt;</code></p>
<pre>
&lt;form id="new_message_form" name="new_message_form" method="post"&gt;
  &lt;input name="message[room_id]" id="input_message_room_id" placeholder="New message" type="hidden"&gt;
  &lt;input name="message[body]" id="input_message_body" placeholder="New message" type="text" autocomplete="off"&gt;
&lt;/form&gt;
</pre>
<p>These forms won't work just yet...</p>
