<%= back_link('2/3') %>
<small>2-4</small>
<%= forward_link('2/5', 'Fonts') %>

<h1>Images</h1>

<h3><%= step %></h3>
<p>Save the <a href="client_logo.png">Flatchat logo</a> to 'flatchat/logo.png'</p>

<h3><%= step %></h3>
<p>Change <code>#logo</code> to:</p>
<pre>
&lt;div id="logo"&gt;
  &lt;img src="logo.png" height="24"&gt;&lt;/img&gt;
  &lt;span&gt;Flatchat&lt;span&gt;
&lt;/div&gt;
</pre>
<p>Reload the page.</p>
<p>Add to css file:</p>
<pre>
#logo img { vertical-align: middle; margin-top: -3px; }
</pre>
<p>Reload the page.</p>

<h3><%= step %></h3>
<p>Add to <code>&lt;head&gt;</code>:</p>
<pre>
&lt;link rel="shortcut icon" href="logo.png"&gt;
</pre>
<p>Reload the page. To get the browser to load the icon you may need to open file and reopen tab.</p>
