<%= back_link('2/4') %>
<small>2-5</small>
<%= forward_link('2/6', 'Icons') %>

<h1>Fonts</h1>

<h3><%= step %></h3>
<p><a href="https://fonts.google.com/specimen/Chewy?query=chewy"
      target="flatchat_workshop">Google Fonts - Chewy</a></p>

<h3><%= step %></h3>
<p>Add to <code>&lt;head&gt;</code></p>
<pre>
&lt;link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet"&gt;
</pre>

<h3><%= step %></h3>
<p>Add to 'application.css':</p>
<pre>
.message_body { font-family: 'Chewy', cursive; font-size: 1.5em; }
</pre>
