<%= back_link('2/6') %>
<small>2-7</small>
<%= forward_link('2/8', 'Fonts') %>

<h1>Images</h1>

<h3><%= step %></h3>
<p>Save the <a href="client_logo.png">Flatchat logo</a> to 'flatchat/logo.png'.</p>

<h3><%= step %></h3>
<p>Change the <code>&lt;div id="logo"&gt;</code> element to:</p>
<pre>
&lt;div id="logo"&gt;
  &lt;img src="logo.png"&gt;&lt;/img&gt;
  Flatchat
&lt;/div&gt;
</pre>

<p>Reload the page.</p>

<p>Add to css file:</p>
<pre>
#logo img { vertical-align: middle; margin-top: -3px; height: 24px; }
</pre>
<p>Reload the page.</p>

<h3><%= step %></h3>

<p>Add to <code>&lt;head&gt;</code> (put it above the link to 'application.css'):</p>
<pre>
&lt;link rel="shortcut icon" href="logo.png"&gt;
</pre>
<p>Reload the page. To get the browser to load the icon you may need to open file and reopen tab.</p>
