<%= back_link('2/7') %>
<small>2-8</small>
<%= forward_link('2/9', 'Icons') %>

<h1>Fonts</h1>

<h3><%= step %></h3>
<p><a href="https://fonts.google.com/specimen/Chewy?query=chewy"
      target="https://fonts.google.com/specimen/Chewy?query=chewy">Google Fonts - Chewy</a></p>

<h3><%= step %></h3>
<p>Add to <code>&lt;head&gt;</code>, above the 'application.css' link:</p>
<pre>
&lt;link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy"&gt;
</pre>

<h3><%= step %></h3>
<p>Add to 'application.css':</p>
<pre>
.message_body { font-family: 'Chewy', cursive; font-size: 1.5em; }
</pre>
