<%= back_link('1/1') %>
<small>1-2</small>
<%= forward_link('1/3', 'Browser console') %>

<h1>Manipulate elements</h1>

<h3><%= step %></h3>
  <p>Find <code>&lt;div id="screen" class="bg-primary"&gt;</code>. Hint: it's a child node of <code>&lt;body&gt;</code>.</p>
  <p>Find the rule for <code>#screen</code>.
  <p>Change its <code>background-color</code> style. Try the color palete. Try manually entering colour values <code>#00F</code>, <code>white</code>, <code>transparent</code>.</p>

<h3><%= step %></h3>
  <p>Richt click on school name and select 'inspect'.</p>
  <p>Right click on the <code>&lt;a&gt;</code> node and select 'Edit as HTML'.</p>
  <p>Edit school name text.</p>
  <p>Change <code>font-size</code> to 24px.</p>
  <p>Change <code>margin-top</code> to 12px.</p>
  <p>Deselect <code>text-transform</code>.</p>

<h3><%= step %></h3>
  <p>Have a play with the document.</p>
  <p>Change some text and colours. Delete some nodes.</p>
  <p>Reload the page when you're done.</p>
