<%= back_link('1/2') %>
<small>1-3</small>
<%= forward_link('1/4', 'Network activity') %>

<h1>Browser console</h1>

<p>Execute Javascript.</p>

<h3><%= step %></h3>
<p>Some commands to try:</p>
<pre>
1+1<br>
"Hi"<br>
Date();<br>
alert("Hi, right now it's " + Date());
</pre>
<p>Semicolons?</p>

<h3><%= step %></h3>
<p>Manipulate the document.</p>
<pre>$("#screen").html("&lt;h1&gt;New content&lt;/h1&gt;");</pre>
<pre>$("#screen").css({"font-size": "2em", "color": "#666", "background-color": "#48d", "padding": "50px"});</pre>

<h3><%= step %></h3>
<p>Access command history with up arrow.</p>
<p>Edit the previous command. Change the <code>color</code> property:</p><pre>$("#screen").css({"font-size": "2em", "color": "#fff", "background-color": "#48d", "padding": "50px"});</pre>

<h3><%= step %></h3>
<p>Reload the page.</p>
<pre>location.reload();</pre></p>
