<%= back_link('1/4') %>
<small>1-5</small>
<%= forward_link('2/1', 'HTML documents') %>

<h1>Text editor</h1>

<h3><%= step %></h3>
<p>System default editors: Notepad, TextEdit, gedit. Popular: Sublime Text, Atom, Vim, Emacs.</p>

<h3><%= step %></h3>
<p>Create a directory called 'flatchat'.</p>
<p>Use your editor to create a file in the 'flatchat' directory with content:</p>
<pre>Flatchat</pre>
<p>Save the file with the name 'index.html'</p>

<h3><%= step %></h3>
<p>Open the 'index.html' file in your browser and inspect it.</p>
