<%= back_link('6/2') %>
<small>6-3</small>
<%= forward_link('6/4', 'Ajax forms') %>

<h1>Server</h1>

<h3><%= step %></h3>
<p>The server: <%= Rails.application.config.app_http_protocol %>://<%= Rails.application.config.app_host %>.</p>
<p>Your API token: <%= current_user.api_token %>.</p>

<h3><%= step %></h3>
<p>Create a file 'scripts/server_config.js':</p>
<pre>
serverUrl = "<%= "#{Rails.application.config.app_http_protocol}://#{Rails.application.config.app_host}" %>";
serverWebSocketUrl = "<%= "#{Rails.application.config.app_ws_protocol}://#{Rails.application.config.app_host}" %>/cable";
apiToken = "<%= current_user.api_token %>";
</pre>
<p>Add to <code>&lt;head&gt;</code>, above the 'application.css' link:</p>
<pre>
&lt;script type="text/javascript" src="scripts/server_config.js"&gt;&lt;/script&gt;
</pre>
