<%= back_link('6/4') %>
<small>6-5</small>
<%= forward_link('7/1', 'Index file') %>

<h1>Setup forms</h1>

<h3><%= step %></h3>
<p>Create 'scripts/ajax_setup.js':</p>
<pre>
var bindAjaxForm = function() {
  $('form').ajaxForm({
    error: function(request, textStatus, errorThrown, form) {
      alert("Ajax form failed.\nStatus: " + request.status + " " + textStatus + " " + errorThrown + "\nResponse: " + request.responseText); },
    success: function(data, textStatus, request, form) {
      alert("Ajax form submitted successfully!\nStatus: " + request.status + " " + textStatus + "\nResponse: " + request.responseText); },
      location.reload();
  });
};

$.ajaxSetup({
  headers: { 'Authorization' : 'Token ' + apiToken },
  dataType: "json"
});

$(document).ready(function() {
  bindAjaxForm();
});
</pre>

<h3><%= step %></h3>
<p>Create 'scripts/set_form_urls.js':</p>
<pre>
$( document ).ready(function() {
  document.new_room_form.action = ( serverUrl + "/rooms.json" );
  document.new_message_form.action = ( serverUrl + "/messages.json" );
});
</pre>

<h3><%= step %></h3>
<p>Link the files.</p>
<pre>
&lt;script type="text/javascript" src="scripts/ajax_setup.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="scripts/set_form_urls.js"&gt;&lt;/script&gt;
</pre>
